<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183778840538-5hp72iqfkaldtpfajro93un4f791qjnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183778840538-5hp72iqfkaldtpfajro93un4f791qjnh</string>
	<key>API_KEY</key>
	<string>AIzaSyD4dSlemipM6XKoURyqWtuYlsDP4dcxQq8</string>
	<key>GCM_SENDER_ID</key>
	<string>183778840538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ayna</string>
	<key>PROJECT_ID</key>
	<string>ayna-c7a1e</string>
	<key>STORAGE_BUCKET</key>
	<string>ayna-c7a1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183778840538:ios:fa23c8efc7f7e6ccc7bae3</string>
</dict>
</plist>